# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
startbootstrap-agency-gh-pages/js/scripts.js
startbootstrap-agency-gh-pages/index.html
startbootstrap-agency-gh-pages/css/styles.css
startbootstrap-agency-gh-pages/assets/mail/jqBootstrapValidation.js
startbootstrap-agency-gh-pages/assets/mail/contact_me.php
startbootstrap-agency-gh-pages/assets/mail/contact_me.js
startbootstrap-agency-gh-pages/assets/img/portfolio/06-thumbnail.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/06-full.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/05-thumbnail.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/05-full.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/04-thumbnail.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/04-full.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/03-thumbnail.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/03-full.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/02-thumbnail.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/02-full.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/01-thumbnail.jpg
startbootstrap-agency-gh-pages/assets/img/portfolio/01-full.jpg
startbootstrap-agency-gh-pages/assets/img/navbar-logo.svg
startbootstrap-agency-gh-pages/assets/img/map-image.png
startbootstrap-agency-gh-pages/assets/img/logos/themeforest.jpg
startbootstrap-agency-gh-pages/assets/img/logos/envato.jpg
startbootstrap-agency-gh-pages/assets/img/logos/designmodo.jpg
startbootstrap-agency-gh-pages/assets/img/logos/creative-market.jpg
startbootstrap-agency-gh-pages/assets/img/header-bg.jpg
startbootstrap-agency-gh-pages/assets/img/favicon.ico
startbootstrap-agency-gh-pages/assets/img/close-icon.svg
startbootstrap-agency-gh-pages/assets/img/about/4.jpg
startbootstrap-agency-gh-pages/assets/img/about/3.jpg
startbootstrap-agency-gh-pages/assets/img/about/2.jpg
startbootstrap-agency-gh-pages/assets/img/about/1.jpg
